<div class="page-container">
  <mat-card class="manager-card">
    <div class="card-header">
      <h2>Gerenciar Cursos</h2>

      <button mat-raised-button color="primary" (click)="cadastrarNovoCurso()">
        <mat-icon>add</mat-icon>
        Cadastrar Novo Curso
      </button>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="loading" style="padding: 20px; text-align: center; color: gray;">
      Carregando cursos...
    </div>

    <mat-list *ngIf="!loading">
      <mat-list-item *ngFor="let curso of cursos">
        <mat-icon matListItemIcon color="primary">menu_book</mat-icon>
        
        <div matListItemTitle>{{ curso.titulo }}</div>
        
        <div matListItemLine class="muted-info">
          Código: {{ curso.codigo }} | 
          Status: 
          <span [style.color]="curso.status === 'ATIVO' ? 'green' : 'red'" style="font-weight: bold;">
            {{ curso.status }}
          </span>
           | Duração: {{ curso.duracaoEstimada }}
        </div>

        <div class="actions" style="margin-left: auto; display: flex; gap: 8px;">
          <button mat-icon-button (click)="editarCurso(curso.id!)" title="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          
          <button mat-icon-button color="warn" (click)="excluirCurso(curso.id!)" title="Excluir">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
      
      <div *ngIf="cursos.length === 0" style="padding: 20px; text-align: center;">
        <p>Nenhum curso cadastrado. Clique em "Cadastrar Novo Curso" para começar.</p>
      </div>

    </mat-list>

  </mat-card>
</div>