:host {
  display: block;
  font-family: 'Poppins', sans-serif;
}

/* Remove o espaço gigante acima dos cards */
.dashboard-content {
  padding: 0 32px 32px 32px; 
}

/* -------------------------
   GRIDS
-------------------------- */
.grid {
  display: grid;
  gap: 28px;
}

.header-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 40px !important;
  margin-bottom: 40px !important;
}

.courses-grid {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px !important;
  margin-top: 10px;
  margin-bottom: 40px !important;
}

.bottom-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px !important;
  margin-top: 40px !important;
}

/* -------------------------
   CARDS
-------------------------- */
.card {
  padding: 30px !important;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

/* -------------------------
   KPI
-------------------------- */
.kpi .kpi-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #002F54;
  font-weight: 600;
}

.kpi .kpi-value {
  font-size: 36px;
  font-weight: 800;
  color: #002F54;
  margin: 10px 0;
}

.kpi .kpi-foot {
  font-size: 14px;
  color: #555;
}

mat-progress-bar {
  height: 6px;
  border-radius: 4px;
}

mat-progress-bar .mdc-linear-progress__bar-inner {
  background-color: #002F54 !important;
}

mat-chip.mat-chip {
  background: #002F54 !important;
  color: #fff !important;
  font-weight: 600;
}

mat-icon {
  color: #002F54 !important;
}

mat-list-item {
  padding: 70px 0;
}

.card button[color="primary"],
.card button.mat-mdc-raised-button[color="primary"] {
  background-color: #002F54 !important;
  color: #fff !important;
  border-radius: 8px;
}

.card button.mat-mdc-stroked-button[color="primary"] {
  border-color: #002F54 !important;
  color: #002F54 !important;
}
