server:
  port: 8083

spring:
  application:
    name: ms-cursos

  datasource:
    url: jdbc:postgresql://postgres:5432/dacdb
    username: dac
    password: dac
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect