<div class="login-container">

  <div class="left-title">
    <div class="title-block">

      <span class="material-symbols-outlined title-icon">
        laptop
      </span>

      <h1 class="title-text">
        Sistema de<br>
        E-learning<br>
        Corporativo
      </h1>

    </div>
  </div>

  <mat-card class="login-card">
    <h2 class="login-title">LOGIN</h2>

    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" placeholder="seu.email@empresa.com" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput
               [type]="hide ? 'password' : 'text'"
               formControlName="senha"
               placeholder="Digite sua senha"
               required>
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary"
              class="login-button"
              type="submit"
              [disabled]="formLogin.invalid">
        Entrar
      </button>
    </form>

    <div class="criar-conta">
      Não tem uma conta?
      <a routerLink="/autocadastro">Criar conta</a>
    </div>

  </mat-card>

</div>

<footer class="login-footer">
  © 2025 Sistema de E-learning Corporativo · Todos os direitos reservados
</footer>
