@use '@angular/material' as mat;

@include mat.all-component-themes(mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    secondary: mat.$deep-purple-palette,
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
  )
)));



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}