<!-- TOPBAR GLOBAL (sempre aparece) -->
<div class="topbar">
  <div class="topbar-content">
    <span class="material-symbols-outlined topbar-icon">laptop</span>
    <div class="topbar-text">Sistema de E-learning Corporativo</div>
  </div>
</div>

<!-- LAYOUT PRINCIPAL -->
<div class="app-layout">

  <!-- SIDEBAR (abre somente se showSidebar = true) -->
  <app-sidebar *ngIf="showSidebar" class="app-sidebar"></app-sidebar>

  <!-- CONTEÚDO PRINCIPAL -->
  <div class="main-content" [class.full-width]="!showSidebar">
    <router-outlet></router-outlet>
  </div>

</div>
