<div class="topbar">
  <div class="topbar-content">
    <span class="material-symbols-outlined title-icon">
        laptop
      </span>

    <div class="topbar-text">
      Sistema de E-learning Corporativo
    </div>
  </div>
</div>

<div class="autocadastro-wallpaper">

  <div class="autocadastro-wrapper">

    <mat-card class="autocadastro-card">
      <h2 class="autocadastro-title">Autocadastro de Colaborador</h2>

      <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
        <div class="grid-container">

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>CPF</mat-label>
            <input matInput 
                   formControlName="cpf"
                   placeholder="000.000.000-00"
                   maxlength="14"
                   (input)="formatarCPF($event)">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome completo</mat-label>
            <input matInput formControlName="nome">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>E-mail corporativo</mat-label>
            <input matInput formControlName="email" placeholder="exemplo@empresa.com.br">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Departamento</mat-label>
            <mat-select formControlName="departamento_id">
              <mat-option *ngFor="let dept of departamentos" [value]="dept.id">
                {{ dept.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Cargo</mat-label>
            <input matInput formControlName="cargo">
          </mat-form-field>

        </div>

        <div class="btns">
         <button mat-raised-button class="btn-cadastro cadastrar-button" type="submit">
          Cadastrar
        </button>

        <button mat-stroked-button class="btn-voltar" type="button" (click)="voltarLogin()">
            Voltar
        </button>

        </div>

      </form>
    </mat-card>

  </div>

</div>
