server:
  port: 8081

spring:
  application:
    name: ms-autenticacao

  datasource:
    url: jdbc:postgresql://postgres:5432/db_autenticacao
    username: dac
    password: dac
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: arthurdiasbaptista@gmail.com
    password: flrw elqg tobs chjt
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: "bWluaGFTZW5oYVN1cGVyU2VjcmV0YURlMzJCeXRlcyEh"
  expiration: 28800000
